* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  min-height: 7vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: sans-serif;
}
.Container {
  padding: 1rem 20px;
}
.data-container {
  margin: 1rem;
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: auto;
  padding: 20px;
  font-family: monospace;
}
button {
  padding: 10px 20px;
  border-radius: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}
